@import "../../index.scss";

.random {
  height: 92vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #444444;

  .quote {
    position: relative;
    aspect-ratio: 1 / 1;

    z-index: 5;
    border-radius: 50%;

    display: flex;
    justify-content: center;

    cursor: pointer;
    border: none;
    background-color: #ad1c40;

    @include sm {
      top: -230px;
      height: 50px;
    }

    @include md {
      top: -330px;
      height: 150px;
    }

    svg {
      height: inherit;
      aspect-ratio: 1 / 1;
    }
  }

  .container {
    position: absolute;
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #171717;
    // box-shadow: 25px 25px #666666;

    @include sm {
      width: 80vw;
      height: 400px;
      padding: 80px 20px;
    }

    @include md {
      width: 80vw;
      padding: 80px 30px;
      height: 500px;
    }

    @include lg {
      width: 50vw;
      padding: 80px 80px;
    }

    @include xl {
      width: 40vw;
      padding: 80px 80px;
    }

    span {
      font-size: 30px;
      line-height: 20px;

      color: #ededed;
    }

    .content {
      width: inherit;
      margin-top: auto;
      margin-bottom: 30px;

      p {
        text-align: center;

        color: #ededed;

        @include sm {
          font-size: 20px;
          margin: 0 20px;
        }

        @include md {
          font-size: 25px;
          margin: 0;
        }

        @include xl {
          font-size: 30px;
        }
      }
    }

    .author {
      width: 95%;

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .line {
        flex: 1;
        height: 1px;
        background-color: #ededed;

        @include sm {
          display: none;
        }

        @include md {
          display: flex;
        }

        @include xl {
          display: flex;
        }
      }

      a {
        text-decoration: none;

        h1 {
          padding: 0 20px;
          margin: 0;
          text-align: center;

          color: #ad1c40;

          @include sm {
            font-size: 20px;
          }

          @include md {
            font-size: 25px;
          }

          @include xl {
            font-size: 30px;
          }
        }
      }
    }

    .tags {
      margin-top: auto;
      font-size: 20px;
      display: flex;

      justify-content: center;
      align-items: center;

      @include sm {
        flex-direction: column;
        gap: 0;
      }

      @include md {
        flex-direction: row;
        gap: 20px;
      }

      a {
        text-decoration: none;
        font-weight: 200;

        color: #ad1c40;
      }
    }
  }
}
