@import "../../index.scss";

.random {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include mobile {
    padding: 0 20px;
  }

  @include rwd("821px") {
    padding: 0;
  }

  .container {
    position: relative;
    border-radius: 30px;

    display: flex;
    flex-direction: column;

    align-items: center;
    // gap: 20px;

    padding: 60px;

    background-color: #171717;

    @include mobile {
      margin-top: 30px;
    }

    @include rwd("821px") {
      width: 650px;
      min-height: 450px;
      margin-top: 0;
      justify-content: center;
    }

    .top {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;

      .tip {
        position: fixed;

        z-index: 6;

        padding: 0 20px;

        background-color: white;
        color: #171717;
        border-radius: 30px;

        cursor: pointer;

        .arrow {
          position: absolute;
          top: 17px;
          left: -8px;
          width: 0;
          height: 0;
          border-top: 13px solid transparent;
          border-bottom: 13px solid transparent;

          border-right: 13px solid white;
        }
      }

      .tip.one {
        top: 201px;
        left: 55.5vw;
      }

      .quote {
        position: absolute;
        left: 0;
        right: 0;

        margin-left: auto;
        margin-right: auto;

        z-index: 5;
        border-radius: 50%;

        display: flex;
        justify-content: center;
        align-items: center;

        cursor: pointer;
        border: none;
        background-color: #ad1c40;

        @include mobile {
          width: 100px;
          height: 100px;
          top: -50px;
        }

        @include tablet {
          width: 130px;
          height: 130px;
          top: -65px;
        }

        svg {
          height: 100px;
          width: 100px;
        }
      }
    }

    span {
      font-size: 30px;
      line-height: 20px;

      color: #ededed;
    }

    .content {
      width: inherit;

      margin-bottom: 30px;

      p {
        text-align: center;
        margin-bottom: 0;
        color: #ededed;

        @include mobile {
          font-size: 20px;
          margin-top: 35px;
        }

        @include tablet {
          font-size: 30px;
        }

        @include rwd("821px") {
          font-size: 25px;
          margin-top: 60px;
        }
      }
    }

    .author {
      width: 95%;

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .line {
        flex: 1;
        height: 2px;
        background-color: map-get($palette, highlight);
        border-radius: 2px;

        @include mobile {
          flex: 0;
        }

        @include tablet {
          flex: 1;
        }
      }

      a {
        margin: 0;
        text-align: center;
        font-weight: 700;

        color: #ad1c40;

        cursor: pointer;

        @include mobile {
          font-size: 30px;
        }

        @include tablet {
          font-size: 40px;
          padding: 0 20px;
        }

        @include rwd("821px") {
          max-width: 60%;
          font-size: 30px;
        }
      }
    }

    .tags {
      margin-top: 10px;

      display: flex;

      justify-content: center;
      align-items: center;

      @include mobile {
        flex-direction: column;
        gap: 10px;
      }

      @include tablet {
        flex-direction: row;

        gap: 20px;
      }

      p {
        text-decoration: none;
        font-weight: 200;
        font-size: 20px;
        margin: 0;

        color: #ad1c40;

        cursor: pointer;

        @include mobile {
          font-size: 15px;
        }

        @include tablet {
          font-size: 20px;
        }
      }
    }
  }

  .share {
    display: flex;
    margin-top: 20px;
    gap: 20px;

    .link {
      width: 40px;
      height: 40px;

      display: flex;
      justify-content: center;
      align-items: center;

      border-radius: 50%;
    }

    .link.twitter {
      background-color: rgb(12, 162, 255);
    }

    .link.facebook {
      background-color: blue;
    }

    .link.reddit {
      background-color: orangered;
    }
  }
}
