.search__bg {
  position: absolute;
  height: 92vh;
  width: 100%;
  z-index: 50;

  background: rgba(0, 0, 0, 0.6);
}

.search__box {
  width: 35%;
  height: 700px;
  background-color: #171717;
  // border-radius: 30px;

  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 15%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 51;

  input {
    width: 100%;
    height: 60px;

    box-sizing: border-box;
    text-align: center;
    font-size: 20px;

    border: none;
    //   border-radius: 0 0 10px 10px;

    &:focus {
      outline: none;
    }

    background-color: #ededed;
  }

  .search__results {
    height: 640px;
    overflow: auto;

    ul {
      padding: 0;
      list-style: none;
      li {
        font-size: 20px;
        text-decoration: none;

        cursor: pointer;

        color: white;
      }
    }
  }
}
